body {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.title {
  text-align: center;
}

.row {
  margin-bottom: 10px;
}

.example-grid-colors .column {
  text-align: center;
  border-left: 1px solid;
  padding-left: 4px;
}
.example-grid .column,
.example-grid .columns {
  background-color: #a0a0a030;
  font-size: 0.9em;
  text-align: center;
  text-transform: uppercase;
  height: 30px;
  line-height: 30px;
  margin-bottom: 0.75rem;
  font-weight: 600;
  letter-spacing: 0.1rem;
}
.example-grid .row {
  margin-bottom: 0px;
}
