/*
* Skeletoni V0.6.0 (Skeleton Industrial)
* Copyright 2026, Jindrich Rysavy, see https://github.com/rysavy-dudrtools/skeletoni_css
* Free to use under the MIT license http://www.opensource.org/licenses/mit-license.php
* BASED ON Skeleton V2.0.4 by Dave Gamache, see www.getskeleton.com
* Skeletoni is independent variation created mostly for industrial aplications which 
* require fast development, readability, touch control, responsive layout, light/dark mode.
* Browser baseline: Chrome 81+, Safari 13+ on macOS, Safari 13+ on iOS/iPadOS
* (native modal <dialog> requires Safari 15.4+, which is not CSS related).
*
* For more complex but still simple alternative see Pico CSS https://picocss.com/docs/classless
*
* Normalization rules from modern-normalize v3.0.1 (under the MIT License)
  see https://github.com/sindresorhus/modern-normalize */

*,
::before,
::after {
  box-sizing: border-box;
}

html {
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
  tab-size: 4;
}

sub,
sup {
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25rem;
}

sup {
  top: -0.5rem;
}

button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button,
[type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
  appearance: button;
}

legend {
  padding: 0;
}

progress {
  vertical-align: baseline;
}

::-webkit-inner-spin-button,
::-webkit-outer-spin-button {
  height: auto;
}

[type="search"] {
  -webkit-appearance: textfield;
  appearance: textfield;
  outline-offset: -2px;
}

::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

summary {
  display: list-item;
}

.container {
  display: grid;
  grid-template-columns: minmax(0, 1fr);
  column-gap: 0;
  position: relative;
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
  box-sizing: border-box;
}

.container > :not(.column):not(.columns) {
  grid-column: 1 / -1;
}

.column,
.columns {
  grid-column-end: span 1;
  min-width: 0;
  box-sizing: border-box;
}

@media (max-width: 576px) {
  /* utility class which can be used for example to hide long text from buttons
  like <button><span class="hide-on-mobile">list of </span>users</button>*/
  .hide-on-mobile {
    display: none;
  }
  .container {
    width: 96%;
    padding: 0;
  }
}

@media (min-width: 576px) and (max-width: 992px) {
  .hide-on-tablet {
    display: none;
  }

  /* Columns */
  /* IMPORTANT: opinionated part which changes 12-columns grid to 6-columns grid
  on narrow screens (mobiles in landscape mode, tablets in portrait mode)
  This may create unexpected layouts. Delete following section to keep 12-columns grid.
  */
  .container {
    grid-template-columns: repeat(6, minmax(0, 1fr));
    column-gap: 3%;
  }

  .one.column,
  .one.columns,
  .two.columns {
    grid-column-end: span 1;
  }
  .three.columns,
  .quarter-of.columns,
  .one-quarter-of.columns,
  .four.columns,
  .third-of.columns,
  .one-third-of.columns {
    grid-column-end: span 2;
  }
  .five.columns,
  .six.columns,
  .half-of.columns,
  .two-quarters-of.columns,
  .seven.columns {
    grid-column-end: span 3;
  }
  .eight.columns,
  .two-thirds-of.columns,
  .nine.columns,
  .three-quarters-of.columns {
    grid-column-end: span 4;
  }
  .ten.columns,
  .eleven.columns {
    grid-column-end: span 5;
  }
  .twelve.columns,
  .all-of.columns,
  .four-quarters-of.columns {
    grid-column-end: span 6;
  }

  .offset-by-one.column,
  .offset-by-one.columns,
  .offset-by-two.columns {
    grid-column-start: 2;
  }
  .offset-by-three.columns,
  .offset-by-quarter-of.columns,
  .offset-by-one-quarter-of.columns,
  .offset-by-four.columns,
  .offset-by-third-of.columns,
  .offset-by-one-third-of.columns {
    grid-column-start: 3;
  }
  .offset-by-five.columns,
  .offset-by-six.columns,
  .offset-by-half-of.columns,
  .offset-by-two-quarters-of.columns,
  .offset-by-seven.columns {
    grid-column-start: 4;
  }
  .offset-by-eight.columns,
  .offset-by-two-thirds-of.columns,
  .offset-by-nine.columns,
  .offset-by-three-quarters-of.columns {
    grid-column-start: 5;
  }
  .offset-by-ten.columns,
  .offset-by-eleven.columns {
    grid-column-start: 6;
  }
}

/* For devices equal or larger than 992px */
@media (min-width: 992px) {
  .container {
    grid-template-columns: repeat(12, minmax(0, 1fr));
    column-gap: 3%;
    justify-content: normal;
  }

  .one.column,
  .one.columns {
    grid-column-end: span 1;
  }
  .two.columns {
    grid-column-end: span 2;
  }
  .three.columns,
  .quarter-of.columns,
  .one-quarter-of.columns {
    grid-column-end: span 3;
  }
  .four.columns,
  .third-of.columns,
  .one-third-of.columns {
    grid-column-end: span 4;
  }
  .five.columns {
    grid-column-end: span 5;
  }
  .six.columns,
  .half-of.columns,
  .two-quarters-of.columns {
    grid-column-end: span 6;
  }
  .seven.columns {
    grid-column-end: span 7;
  }
  .eight.columns,
  .two-thirds-of.columns {
    grid-column-end: span 8;
  }
  .nine.columns,
  .three-quarters-of.columns {
    grid-column-end: span 9;
  }
  .ten.columns {
    grid-column-end: span 10;
  }
  .eleven.columns {
    grid-column-end: span 11;
  }
  .twelve.columns,
  .all-of.columns,
  .four-quarters-of.columns {
    grid-column-end: span 12;
  }

  .offset-by-one.column,
  .offset-by-one.columns {
    grid-column-start: 2;
  }
  .offset-by-two.columns {
    grid-column-start: 3;
  }
  .offset-by-three.columns,
  .offset-by-quarter-of.columns,
  .offset-by-one-quarter-of.columns {
    grid-column-start: 4;
  }
  .offset-by-four.columns,
  .offset-by-third-of.columns,
  .offset-by-one-third-of.columns {
    grid-column-start: 5;
  }
  .offset-by-five.columns {
    grid-column-start: 6;
  }
  .offset-by-six.columns,
  .offset-by-half-of.columns,
  .offset-by-two-quarters-of.columns {
    grid-column-start: 7;
  }
  .offset-by-seven.columns {
    grid-column-start: 8;
  }
  .offset-by-eight.columns,
  .offset-by-two-thirds-of.columns {
    grid-column-start: 9;
  }
  .offset-by-nine.columns,
  .offset-by-three-quarters-of.columns {
    grid-column-start: 10;
  }
  .offset-by-ten.columns {
    grid-column-start: 11;
  }
  .offset-by-eleven.columns {
    grid-column-start: 12;
  }
}

:root {
  color-scheme: light dark; /* auto-switch light/dark themes using browser/OS settings */

  --lred: #c62828; /* light (lred) and dark (dred) color CSS variables */
  --dred: #e57373;
  --lorange: #ef6c00;
  --dorange: #ffb74d;
  --llime: #827717;
  --dlime: #dce775;
  --lgreen: #2e7d32;
  --dgreen: #81c784;
  --lcyan: #00838f;
  --dcyan: #4dd0e1;
  --lblue: #1565c0;
  --dblue: #64b5f6;
  --lpurple: #6a1b9a;
  --dpurple: #ba68c8;
  --lbrown: #4e342e;
  --dbrown: #a1887f;
  --lgrey: #37474f;
  --dgrey: #90a4ae;

  --lbg: #fff; /* background for light scheme */
  --lfg: #222; /* foreground for light scheme */
  --ldisabled: #444;
  --lprimary: var(--lblue); /* color of primary button for light scheme */
  --lfocus: #2196f3; /* borders of focused button, links, background of selection */
  --lcode: #e6e6e6; /* background of pre, code */

  --dbg: #000; /* background for dark scheme*/
  --dfg: #d9d9d9; /*foreground for dark scheme*/
  --ddisabled: #888;
  --dprimary: var(--dblue);
  --dfocus: #bbdefb;
  --dcode: #333;

  --red: var(--lred);
  --orange: var(--lorange);
  --lime: var(--llime);
  --green: var(--lgreen);
  --cyan: var(--lcyan);
  --blue: var(--lblue);
  --purple: var(--lpurple);
  --brown: var(--lbrown);
  --grey: var(--lgrey);
  --bg: var(--lbg);
  --fg: var(--lfg);
  --disabled: var(--ldisabled);
  --primary: var(--lprimary);
  --focus: var(--lfocus);
  --code: var(--lcode);
}

/*color-mix is supported from Safari 16.2 and Chrome 111; declaration of focus/code 
with fixed colors (see above) can be removed if older browsers are not used*/
@supports (color: color-mix(in srgb, black, white)) {
  :root {
    --lfocus: color-mix(in srgb, var(--lprimary), #fff 25%);
    --dfocus: color-mix(in srgb, var(--dprimary), #fff 25%);
    --lcode: color-mix(in srgb, var(--lbg), #000 10%);
    --dcode: color-mix(in srgb, var(--dbg), #fff 20%);
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    --red: var(--dred);
    --orange: var(--dorange);
    --lime: var(--dlime);
    --green: var(--dgreen);
    --cyan: var(--dcyan);
    --blue: var(--dblue);
    --purple: var(--dpurple);
    --brown: var(--dbrown);
    --grey: var(--dgrey);
    --bg: var(--dbg);
    --fg: var(--dfg);
    --disabled: var(--ddisabled);
    --primary: var(--dprimary);
    --focus: var(--dfocus);
    --code: var(--dcode);
  }
}

html {
  font-size: 100%;
  tab-size: 4;
}

.primary {
  color: var(--primary);
}

.warning {
  color: var(--red);
}

.success {
  color: var(--green);
}

.red {
  color: var(--red);
}

.orange {
  color: var(--orange);
}

.lime,
.yellow {
  color: var(--lime); /*this is actually lime, yellow would have insufficient contrast*/
}

.green {
  color: var(--green);
}

.cyan {
  color: var(--cyan);
}

.blue {
  color: var(--blue);
}

.purple {
  color: var(--purple);
}

.brown {
  color: var(--brown);
}

.gray,
.grey {
  color: var(--grey);
}

body {
  background-color: var(--bg);
  color: var(--fg);
  margin: 0;
}

:root {
  scrollbar-color: var(--theme-grey, var(--grey)) var(--theme-bg, var(--bg));
}

::selection,
mark {
  color: var(--bg);
  background: var(--focus);
}

dialog {
  color: var(--fg);
  background-color: var(--code);
  border-color: var(--fg);
  border-radius: 8px;
  box-sizing: border-box;
  border-style: solid;
  border-width: 1px 2px 2px 1px;
}

dialog form[method="dialog"] {
  margin-bottom: 0px;
  float: right;
}

dialog::backdrop {
  background-color: var(--code);
}

a {
  color: var(--primary);
  text-decoration: none;
}

a:hover {
  color: var(--focus);
  text-decoration: underline;
}

html,
body {
  font-family:
    "Roboto", "Noto", "Helvetica Neue", Helvetica, sans-serif, "Noto Emoji",
    "Noto Color Emoji", "Apple Color Emoji", "Segoe UI Emoji";
  font-size: 1.1rem;
  line-height: 1.6;
  font-weight: 400;
}

b,
strong,
th {
  font-weight: 700;
}

code,
pre,
kbd,
samp {
  font-family: "Roboto Mono", "Cascadia Mono", "Segoe UI Mono", monospace;
  font-size: 1.1rem;
  font-weight: 700;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
  margin-bottom: 2rem;
  font-weight: 300;
}

h1 {
  font-size: 3.6rem;
  line-height: 1.1;
  letter-spacing: -0.1rem;
}

h2 {
  font-size: 3rem;
  line-height: 1.2;
  letter-spacing: -0.1rem;
}

h3 {
  font-size: 2.6rem;
  line-height: 1.3;
}

h4 {
  font-size: 2.2rem;
  line-height: 1.4;
}

h5 {
  font-size: 1.8rem;
  line-height: 1.5;
}

h6 {
  font-size: 1.4rem;
  line-height: 1.6;
}

p {
  margin-top: 0;
}

small,
sup,
sup {
  font-size: 0.75rem;
}

input[type="checkbox"],
input[type="radio"],
input[type="range"],
progress {
  accent-color: var(--primary);
}

input[type="checkbox"],
input[type="radio"],
input[type="range"] {
  cursor: pointer;
  border-bottom: 1px solid transparent;
}

input[type="checkbox"]:disabled,
input[type="radio"]:disabled,
input[type="range"]:disabled {
  accent-color: var(--disabled);
  pointer-events: none;
}

label {
  cursor: pointer;
}

label:has(> input[type="checkbox"]),
label:has(> input[type="radio"]) {
  border-bottom: 1px solid transparent;
}

label:has(> input[type="checkbox"]):hover,
label:has(> input[type="radio"]):hover {
  border-color: var(--focus);
  color: var(--focus);
}

label:has(> input[type="checkbox"]:disabled),
label:has(> input[type="radio"]:disabled) {
  color: var(--disabled);
  pointer-events: none;
  border-bottom: 1px solid transparent;
}

.button,
.button-primary,
button,
input[type="submit"],
input[type="reset"],
input[type="button"] {
  display: inline-block;
  height: 38px;
  padding: 0 20px;
  text-align: center;
  font-weight: 700;
  line-height: 38px;
  letter-spacing: 0.1rem;
  text-transform: uppercase;
  text-decoration: none;
  white-space: nowrap;
  border-radius: 8px;
  cursor: pointer;
  box-sizing: border-box;
  color: var(--fg);
  border-style: solid;
  border-width: 1px 2px 2px 1px;
  border-color: var(--fg);
  background-color: var(--bg);
  font-size: 0.8rem;
}

details summary {
  height: 38px;
  font-weight: 700;
  line-height: 38px;
  letter-spacing: 0.1rem;
  text-transform: uppercase;
  white-space: nowrap;
  cursor: pointer;
  color: var(--fg);
  font-size: 0.8rem;
  border-bottom: 1px solid;
  border-color: transparent;
}

details summary:hover {
  border-color: var(--focus);
}

.button-primary,
input[type="submit"].button-primary,
input[type="reset"].button-primary,
input[type="button"].button-primary {
  color: var(--primary);
  border-color: var(--fg);
}

.button:hover,
.button-primary:hover,
button:hover,
input[type="submit"]:hover,
input[type="reset"]:hover,
input[type="button"]:hover {
  color: var(--focus);
  text-decoration: underline;
  outline: 0;
}

.button:focus,
.button-primary:focus,
button:focus,
input[type="submit"]:focus,
input[type="reset"]:focus,
input[type="button"]:focus {
  border: 1px solid;
  padding-right: 21px;
  border-color: var(--focus);
  outline: 0;
}

.button:disabled,
.button-primary:disabled,
button:disabled,
input[type="submit"]:disabled,
input[type="reset"]:disabled,
input[type="button"]:disabled {
  border-color: var(--disabled);
  color: var(--disabled);
  pointer-events: none;
  cursor: not-allowed;
}

input[type="email"],
input[type="number"],
input[type="search"],
input[type="text"],
input[type="tel"],
input[type="url"],
input[type="password"],
input[type="date"],
input[type="month"],
input[type="week"],
input[type="time"],
input[type="datetime"],
input[type="datetime-local"],
textarea,
select {
  height: 38px;
  padding: 6px 10px; /* The 6px vertically centers text on FF, ignored by Webkit */
  border-radius: 8px;
  box-shadow: none;
  box-sizing: border-box;
  background-color: var(--bg);
  color: var(--fg);
  border-style: solid;
  border-width: 1px 2px 2px 1px;
  border-color: var(--fg);
  font-size: 1rem;
}

input:hover,
input[type="email"]:hover,
input[type="number"]:hover,
input[type="search"]:hover,
input[type="text"]:hover,
input[type="tel"]:hover,
input[type="url"]:hover,
input[type="password"]:hover,
input[type="date"]:hover,
input[type="month"]:hover,
input[type="week"]:hover,
input[type="time"]:hover,
input[type="datetime"]:hover,
input[type="datetime-local"]:hover,
textarea:hover,
select:hover {
  text-decoration: underline;
  outline: 0;
}

input:focus,
input[type="email"]:focus,
input[type="number"]:focus,
input[type="search"]:focus,
input[type="text"]:focus,
input[type="tel"]:focus,
input[type="url"]:focus,
input[type="password"]:focus,
input[type="date"]:focus,
input[type="month"]:focus,
input[type="week"]:focus,
input[type="time"]:focus,
input[type="datetime"]:focus,
input[type="datetime-local"]:focus,
textarea:focus,
select:focus {
  text-decoration: none;
  border: 1px solid;
  padding-right: 11px;
  border-color: var(--focus);
  outline: 0;
}

textarea {
  min-height: 65px;
  padding-top: 6px;
  padding-bottom: 6px;
}

label,
legend {
  display: block;
  margin-bottom: 0.5rem;
  font-weight: 700;
}

[hidden] {
  display: none !important;
}

fieldset {
  padding: 12px 15px;
  border: 0px;
  background-color: var(--code);
}

fieldset > legend {
  margin-left: -5px;
  padding: 0px;
  padding-left: 5px;
  padding-right: 5px;
  padding-inline: 5px;
  background-color: var(--bg);
}

input[type="checkbox"],
input[type="radio"] {
  border: 1px solid;
  border-color: var(--focus);
  margin-right: 0.5rem;
}

input::placeholder,
input[type="email"]::placeholder,
input[type="number"]::placeholder,
input[type="search"]::placeholder,
input[type="text"]::placeholder,
input[type="tel"]::placeholder,
input[type="url"]::placeholder,
input[type="password"]::placeholder,
textarea::placeholder,
select::placeholder {
  color: var(--disabled);
}

input:invalid,
input[type="email"]:invalid,
input[type="number"]:invalid,
input[type="search"]:invalid,
input[type="text"]:invalid,
/* "tel" is not auto-validated, https://developer.mozilla.org/en-US/docs/Web/HTML/Element/input/tel */
input[type="tel"]:invalid,
input[type="url"]:invalid,
input[type="password"]:invalid {
  border-color: var(--red);
}

input:disabled,
input[type="email"]:disabled,
input[type="number"]:disabled,
input[type="search"]:disabled,
input[type="text"]:disabled,
input[type="tel"]:disabled,
input[type="url"]:disabled,
input[type="password"]:disabled,
textarea:disabled,
select:disabled {
  border-color: var(--disabled);
  color: var(--disabled);
  background-color: var(--bg);
  pointer-events: none;
}

ul {
  list-style: circle inside;
}

ol {
  list-style: decimal inside;
}

ol,
ul {
  padding-left: 0;
  margin-top: 0;
}

ul ul,
ul ol,
ol ol,
ol ul {
  margin: 1.5rem 0 1.5rem 3rem;
  font-size: 90%;
}

li {
  margin-bottom: 1rem;
}

code,
pre,
kbd,
samp {
  color: var(--fg);
  background-color: var(--code);
  padding: 2px;
}

mark {
  padding: 2px;
}

pre > code {
  display: block;
  padding: 0.5rem;
  white-space: pre;
  overflow: auto;
}

figure,
figcaption,
img {
  font-style: italic;
  max-width: 100%;
}

th,
td {
  padding: 12px 15px;
  text-align: left;
  border-bottom: 1px solid;
  border-color: var(--fg);
  overflow: hidden;
}

th:first-child,
td:first-child {
  padding-left: 0;
}

th:last-child,
td:last-child {
  padding-right: 0;
}

table {
  overflow-x: auto;
  border: 0px;
  border-color: var(--fg);
  border-collapse: collapse;
  box-sizing: border-box;
  float: none;
}

table.column,
table.columns {
  width: 100%;
  overflow: hidden;
  float: none;
}

button,
.button,
.button-primary,
input,
textarea,
select,
fieldset {
  margin-bottom: 1.5rem;
}

pre,
blockquote,
dl,
figure,
table,
p,
ul,
ol,
form {
  margin-bottom: 2.5rem;
}

hr {
  width: 100%;
  margin-top: 3rem;
  margin-bottom: 3.5rem;
  border-width: 1px 0 0 0;
  border-style: solid;
  border-color: var(--fg);
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: fit-content;
}

/* Media Queries ––––––––––––––––––––––––––––––––––––––– */
/* Less than 576px is default and applies to most mobile phones in portrait mode*/
/* 576px+ matches most mobiles in landscape mode (also grid becomes active) */
@media (min-width: 576px) {
}

/* 768px+ matches big mobiles in landscape (Iphone 15 Pro/Samsung S20 Ultra) or tablets in portrait */
@media (min-width: 768px) {
}

/* 992px + matches Tablets in landscape, old notebooks or notebooks with 150% DPI */
@media (min-width: 992px) {
}

/* 1400px+ matches modern notebooks or desktop PC monitors */
@media (min-width: 1400px) {
}
